/* src/pages/Vpn.css */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.vpn-page {
  direction: rtl;
  height: 100vh;      
  height: 100dvh;     
  width: 100vw;       
  box-sizing: border-box; 
  background-color: #0f1115;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; 
  position: relative;
  font-family: sans-serif;
  overflow: hidden;
  padding-bottom: 60px;
}

.vpn-text-section {
  text-align: center;
  z-index: 10;
  max-width: 700px;
  padding: 0 20px; 
  flex-shrink: 0; 
}

.vpn-title {
  font-size: 3.5rem;
  font-weight: bold;
  color: #22d3ee;
  margin-bottom: 0.5rem;
  text-shadow: 0 0 15px rgba(34, 211, 238, 0.6);
  margin-top: 0;
}

.vpn-subtitle {
  font-size: 1.5rem;
  color: #e5e7eb;
  margin-bottom: 0.2rem;
  font-weight: 500;
}

.vpn-description {
  color: #9ca3af;
  font-size: 1.2rem;
  line-height: 1.4;
}

.vpn-video-container {
  position: relative;
  width: 100%;
  max-width: 800px; 
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1; 
  padding: 0;
}

.video-glow {
  position: absolute;
  inset: 0;
  background-color: #22d3ee;
  filter: blur(60px);
  opacity: 0.15;
  z-index: -1;
}

.vpn-video-wrapper {
  background-color: black;
  border-radius: 16px;
  border: 1px solid #1f2937;
  box-shadow: 0 0 40px rgba(34, 211, 238, 0.1);
  overflow: hidden;
  width: 100%;
  aspect-ratio: 16 / 9; 
}

.phone-video {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
.nav-arrow {
  position: absolute; 
  bottom: 20px;    
  background: none;
  border: none;
  cursor: pointer;
  z-index: 100;
  padding: 0;
}

.nav-arrow img {
  width: 60px; 
  filter: drop-shadow(0 2px 5px rgba(0,0,0,0.5));
  transition: transform 0.2s;
  display: block;
}

.next-arrow { left: 20px; }
.next-arrow:hover img { transform: scale(1.1); }
.back-arrow { right: 20px; }
.back-arrow img { transform: rotate(180deg); }
.back-arrow:hover img { transform: rotate(180deg) scale(1.1); }


@media (max-width: 768px) {

  .vpn-page {
    background-color: #000000 ;
    justify-content: center; 
    gap: 15px; 
    padding-bottom: 100px; 
  }

  .vpn-video-container {
    max-width: 100%; 
    display: flex;
    justify-content: center;
    margin-top: 0; 
  }

  .vpn-video-wrapper {
    width: 95%;  
    aspect-ratio: 16 / 9; 
    height: auto; 
  }

  .vpn-title {
    font-size: 2.2rem; 
    margin-bottom: 5px; 
  }
  
  .vpn-subtitle {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .vpn-description {
    font-size: 1rem;
    padding: 0 10px;
    margin-bottom: 0;
  }

  .phone-video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .nav-arrow {
    bottom: 30px;
  }
}