body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color: #fff;
}

#root {
  min-height: 100vh;
}

.app-root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.card {
  direction: rtl;
  width: 100%;
  max-width: 650px;              
  background-color: #111;
  border-radius: 24px;
  padding: 24px 24px 32px;
  text-align: center;
  box-shadow: 0 0 40px rgba(0, 255, 255, 0.25);
}

.card-image {
  width: 48%;
  border-radius: 18px;
  margin-bottom: 24px;
}

.card-title {
  font-size: 2.6rem;
  margin: 0 0 12px;
}

.card-subtitle {
  font-size: 1.2rem;
  color: #ccc;
  margin: 0 0 24px;
}

.card-button {
  padding: 12px 32px;
  font-size: 1.1rem;
  font-weight: 700; 
  color: #000; 
  background: #00ffff; 
  border: 2px solid #00ffff;
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.3); 
}

.card-button:hover {
  background: #ccffff; 
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.6); 
  transform: scale(1.05); 
}

@media (max-width: 480px) {
  .card {
    max-width: 100%;
    padding: 16px 12px 24px;
  }

  .card-title {
    font-size: 2rem;
  }

  .card-subtitle {
    font-size: 1rem;
  }

  .card-button {
    font-size: 1rem;
    padding: 10px 24px;
  }
}
@media (min-width: 1000px) {
  .phone-container {
    max-width: 650px;  
  }

  .phone-image {
    max-width: 500px;   
  }

  .phone-title {
    font-size: 2.6rem;  
  }

  .phone-desc {
    font-size: 1.2rem;  
  }

  .phone-button {
    font-size: 1.2rem;
    padding: 15px 32px;
  }
}
.logos-row {
  display: flex;
  position: absolute;
  top: 10px;
  left: 20px;
  gap: 10px;
  align-items: top;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 1rem;
}

.logo {
  height: 80px;
  width: auto;
  object-fit: contain;
  filter: drop-shadow(0 0 3px #000);
}

@media (max-width: 600px) {
  .logo {
    height: 35px;
  }
  .logos-row {
    gap: 0.5rem;
  }
}

.next-arrow,
.prev-arrow {
  position: fixed;
  bottom: 12px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 9999;
  padding: 0;
  margin: 0;
  width: 62px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
}

.next-arrow img,
.prev-arrow img {
  width: 100%;
  height: auto;
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0.5));
  display: block;
}

.next-arrow { left: 20px; }
.prev-arrow { right: 20px; }
.prev-arrow img { transform: rotate(180deg); }
.next-arrow:hover { transform: scale(1.1); }
.prev-arrow:hover { transform: scale(1.1); } 

@media (max-width: 900px) {
  .next-arrow, .prev-arrow {
    width: 35px; 
    height: 35px;
    bottom: 10px;
  }
  
  .next-arrow { left: 15px; }
  .prev-arrow { right: 15px; }
}